<%if(locals.loggedIn){ if(locals.userType == 1) { %>
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">دوره های من</div>
            <div class="panel-body">
                <% if(locals.SetdirCount == 0) { %>
                <p>شما هیچ دوره ای را تا به حال ثبت نکرده اید</p>

                <% } else { %>
                <% locals.SetdirNodes.forEach(function(Node) { %>
                <div class="col-sm-4">
                    <div class="panel panel-default HoverPanel" style="cursor: pointer;" onclick="LdDir(<%= Node.dirId %>);">
                        <div class="panel-heading"><%= Node.dirName %></div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=NO IMAGE" class="img-responsive" style="width:100%"
                                alt="Image">

                        </div>
                        <div class="panel-footer">
                            <p><span>توضیحات:</span></p><p><%= Node.dirDesc %></p>
                            <p><span><% if(Node.dirPrivacy==0) { %>دوره غیر فعال است<% }else if(Node.dirPrivacy==1) { %>این دوره عمومی است<% } else if(Node.dirPrivacy==2) {%>این دوره خصوصی است<%}%></span></p>
                        </div>
                    </div>
                </div>
                <% }); }%>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">دوره هایی که شما در آنها عضوید</div>
            <div class="panel-body">
            
                <% if(locals.DirCount == 0) { %>
                <p>شما در هیچ دوره ای عضو نیستید</p>

                <% } else { %>
                <% locals.DirNodes.forEach(function(Node) { %>
                <div class="col-sm-4">
                    <div class="panel panel-default HoverPanel" style="cursor: pointer;" onclick="LdDir(<%= Node.dirId %>);">
                        <div class="panel-heading"><%= Node.dirName %></div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=NO IMAGE" class="img-responsive" style="width:100%"
                                alt="Image">

                        </div>
                        <div class="panel-footer">
                            <p><span>توضیحات:</span></p><p><%= Node.dirDesc %></p>
                            <p><span><% if(Node.dirPrivacy==0) { %>دوره غیر فعال است<% }else if(Node.dirPrivacy==1) { %>این دوره عمومی است<% } else if(Node.dirPrivacy==2) {%>این دوره خصوصی است<%}%></span></p>
                        </div>
                    </div>
                </div>
                <% }); }%>
            </div>
        </div>
    </div>
</div>
<% } else if(locals.userType == 2) { %>

<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">دوره های من</div>
            <div class="panel-body">
            
                <% if(locals.DirCount == 0) { %>
                <p>شما در هیچ دوره ای عضو نیستید</p>

                <% } else { %>
                <% locals.DirNodes.forEach(function(Node) { %>
                <div class="col-sm-4">
                    <div class="panel panel-default HoverPanel" style="cursor: pointer;" onclick="LdDir(<%= Node.dirId %>);">
                        <div class="panel-heading"><%= Node.dirName %></div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=NO IMAGE" class="img-responsive" style="width:100%"
                                alt="Image">

                        </div>
                        <div class="panel-footer">
                            <p><span>توضیحات:</span></p><p><%= Node.dirDesc %></p>
                            <p><span><% if(Node.dirPrivacy==0) { %>دوره غیر فعال است<% }else if(Node.dirPrivacy==1) { %>این دوره عمومی است<% } else if(Node.dirPrivacy==2) {%>این دوره خصوصی است<%}%></span></p>
                        </div>
                    </div>
                </div>
                <% }); }%>

            </div>
        </div>
    </div>
</div>
<% } %>
<hr><hr>
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <% if(locals.countFound == 0) { %>
                <p>هیچ دوره ای تا به حال ثبت نشده</p>

                <% } else { %>
                <% locals.Found.forEach(function(Node) { %>
                <div class="col-sm-4">
                    <div class="panel panel-primary HoverPanel" style="cursor: pointer;" onclick="LdDir(<%= Node.dirId %>);">
                        <div class="panel-heading"><%= Node.dirName %></div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=NO IMAGE" class="img-responsive" style="width:100%"
                                alt="Image">

                        </div>
                        <div class="panel-footer">
                            <p><span>توضیحات:</span></p><p><%= Node.dirDesc %></p><hr>
                            <p><span>تاریخ ایجاد:</span></p><p><%= Node.createdTime %></p><hr>
                            <p><span>توسط:</span></p><p><%= Node.creatorUserShow %></p><hr>
                            <p><span>تعداد اعضا:</span></p><p><%= Node.subsCount %></p><hr>
                            <p><span><% if(Node.dirPrivacy==0) { %>دوره غیر فعال است<% }else if(Node.dirPrivacy==1) { %>دوره عمومی<% } else if(Node.dirPrivacy==2) {%>دوره خصوصی<%}%></span></p>
                        </div>
                    </div>
                </div>
                <% }); %>
                <% } %>
            </div>
            <div class="panel-footer"> Pagination ... </div>
        </div>
    </div>
</div>

<% } else {%>
<div class="container">
    <div class="row">
        <% if(locals.countFound == 0) { %>
        <p>هیچ دوره ای تا به حال ثبت نشده</p>

        <% } else { %>
        <% locals.Found.forEach(function(Node) { %>
        <div class="col-sm-4">
            <div class="panel panel-primary HoverPanel" style="cursor: pointer;" onclick="LdDir(<%= Node.dirId %>);">
                <div class="panel-heading"><%= Node.dirName %></div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=NO IMAGE" class="img-responsive" style="width:100%"
                        alt="Image">

                </div>
                <div class="panel-footer">
                    <p><span>توضیحات:</span></p><p><%= Node.dirDesc %></p><hr>
                    <p><span>تاریخ ایجاد:</span></p><p><%= Node.createdTime %></p><hr>
                    <p><span>توسط:</span></p><p><%= Node.creatorUserShow %></p><hr>
                    <p><span>تعداد اعضا:</span></p><p><%= Node.subsCount %></p><hr>
                    <p><span><% if(Node.dirPrivacy==0) { %>دوره غیر فعال است<% }else if(Node.dirPrivacy==1) { %>دوره عمومی<% } else if(Node.dirPrivacy==2) {%>دوره خصوصی<%}%></span></p>
                </div>
            </div>
        </div>
        <% }); %>
        <% } %>
    </div>
</div>
<% } %>